#hover-cap-4col .thumbnail,
#hover-cap-3col .thumbnail,
#hover-cap-unique .thumbnail,
#hover-cap-6col .thumbnail {
  position:relative;
  overflow:hidden;
}
.caption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(256,256,256,0.5);
  width: 100%;
  height: 100%;
  color:#fff !important;
}
.caption p {
  padding:6px;
}
.thumbnail img {
  min-width: 100px;
}
.caption p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.caption a {
  margin: 10px;
}
.page-header input{
  text-align:right;
  float:right;
  position: relative;
  top: 30px;
}
