# User upload files
media/

# Configs
config/

# Migrations
migrations/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#3rd party library
3rd_party_library/

#authorization data
oauth_verifier.txt
photos/authorization_token.py

#data
db.sqlite3
allMarker.json

