# User upload files
media/

# Configs
config/

# Migrations
migrations/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#3rd party library
3rd_party_library/python_oauth
3rd_party_library/python-flickr-api
3rd_party_library/facebook-sdk

db.sqlite3

#authorization data
oauth_verifier.txt
photos/authorization_token.py
