<!DOCTYPE html>
{% extends "index/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_name %}
  <title>Profile</title>
{% endblock title_name %}
{% block import_source %}
<link rel="stylesheet" href={% static "css/profile.css" %} media="screen">
<link rel="stylesheet" href={% static "css/participate.css" %} media="screen">
<script src={% static "js/profile.js" %}></script>
<script src={% static "js/upload.js" %}></script>
<script src={% static "js/jquery.popconfirm.js" %}></script>
<script type="text/javascript">
  init({{ photos.count }}, 'profile');
</script>
{% endblock import_source %}
{% block body_block %}
<div class="container">
  <div class="page-header" style="display: inline;">
    <h1 style="text-align:left;float:left;">{{ user.username }}</h1>
    {% if photos.count < 5 %}
    <input type="button" class="btn btn-success" value="上傳" onclick="checkImgNumber('upload');" id="upload-btn">
    {% endif %}
    <hr style="clear:both;"/>
  </div>
  <div class="row thumbnails" id="hover-cap-4col">
    {% for photo in photos %}
    <div class="col-sm-3">
      <center><h3>{{ photo.title }}</h3></center>
      <div class="thumbnail">
        <div class="caption">
          <p>
            <a target="_blank" href="#" rel="tooltip" title="facebook" onclick="fb_link('{{ photo.facebook_post_id }}',this)">
              <span class="entypo-facebook-squared" style="font-size: 40px;color: #3b5998;"></span>
            </a>
            <a target="_blank" href="https://www.flickr.com/photos/138506275@N05/{{ photo.flickr_photo_id }}" rel="tooltip" title="flickr">
              <span class="entypo-flickr-circled" style="font-size: 40px;color: #0063dc;"></span>
            </a>
            <a href="#" rel="tooltip" title="delete" class="popconfirm test-jquery-click" id="{{ photo.id }}">
              <span class="entypo-trash" style="font-size: 40px;color: red;"></span>
            </a>
          </p>
        </div>
        <img src="{{ photo.flickr_photo_url }}" alt="ALT NAME">
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="well" style="display: none;">
    <form enctype="multipart/form-data" method="post" action="" class="form-horizontal" role="form">
      {% crispy formset formset.form.helper %}
      <div id="submit-btn">
        <input class="btn" type="submit" value="" id="profile_update" onclick="return checkImgNumber('submit');">
      </div>
    </form>
  </div>
</div>

{% include "index/upload_modal.html" %}
{% endblock body_block %}
