<!DOCTYPE html>
{% extends "index/base.html" %}
{% load static %}

{% block title_name %}
  <title>登入</title>
{% endblock title_name %}
{% block import_source %}
<style type="text/css">
.login-form{
  width: 40%;
  margin-left: 25%;
}
.submit-btn {
  text-align: right;
}
.control-label {
  font-size: 20px;
}
legend {
  font-size: 34px;
}
</style>

{% endblock import_source %}
{% block body_block %}
{% load crispy_forms_tags %}

<form method="POST">
  {% csrf_token %}
  {% crispy form %}
</form>
{% endblock body_block %}
