<!DOCTYPE html>
{% extends "index/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_name %}
<title>報名</title>
{% endblock title_name %}
{% block import_source %}
<link rel="stylesheet" href={% static "css/sign_up.css" %} media="screen">
<link rel="stylesheet" href={% static "css/participate.css" %} media="screen">
<script src={% static "js/upload.js" %}></script>
{% endblock import_source %}
{% block body_block %}

<script type="text/javascript">
{% if user.is_authenticated %}
showMsgModal("你已經報名過了!");
setInterval(function(){
  window.location.href  = "http://" + window.location.host +
  "{% url 'index:index' %}";
}, 2000);
{% endif %}
init(0, 'participate');
</script>
<div class="well">
  <form enctype="multipart/form-data" method="post" action="" class="form-horizontal" role="form">
    {% crispy form %}
    <div class="form-group">
      <textarea class="form-control" id="img-nameset" data-autoresize rows="1" disabled></textarea>
    </div>
    <div id="upload-img-btn-block">
      <input type="button" class="btn btn-success" value="上傳" onclick="checkImgNumber('upload');" id="upload-btn">
      <p id="img-number">Number of upload image: 0</p>
      <p style="position: relative;top: -15px;">Max number is 5</p>
      <p style="position: relative;top: -30px;">*為必填</p>
    </div>
    <br>
    {% crispy formset formset.form.helper %}
    <div id="submit-btn">
      <input class="btn btn-default" type="reset" value="重設" onclick="resetParticipateForm();">
      <input class="btn btn-primary" type="submit" value="確定送出" onclick="return checkImgNumber('submit');">
    </div>
  </form>
</div>
{% include "index/upload_modal.html" %}
{% endblock body_block %}
