<!DOCTYPE html>
{% extends "index/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_name %}
  <title>{{ title }}</title>
{% endblock title_name %}
{% block import_source %}
<link rel="stylesheet" href={% static "css/sign_up.css" %} media="screen">
<script src={% static "js/upload.js" %}></script>
<style type="text/css">
  .control-label {
    font-size: 20px;
  }
  legend {
    font-size: 34px;
  }
  form {
    width: 40%;
    margin-left: 70px;
  }
  .submit-btn {
    text-align: right;
  }
</style>
{% endblock import_source %}
{% block body_block %}
<form enctype="multipart/form-data" method="post" action="" class="">
  {% crispy form %}
  {% crispy formset formset.form.helper %}
  <input class="submit" type="submit" value="確定送出">
</form>
{% endblock body_block %}
