<aside id="sticky-social">
  <ul>
    <li><a href="https://www.facebook.com/%E6%94%9D%E5%BD%B1%E7%AB%B6%E8%B3%BD-1528712347441804/" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
    <li><a href="https://www.flickr.com/photos/138506275@N05/" class="entypo-flickr" target="_blank"><span>Flickr</span></a></li>
    <li><a href="http://www.nthu.edu.tw/" class="entypo-graduation-cap" target="_blank"><span>NTHU</span></a></li>
    <li><a href="#" class="entypo-info-circled" target="_blank"><span>Q&A</span></a></li>
  </ul>
</aside>
