<!DOCTYPE html>
{% extends "index/base.html" %}
{% load static %}

{% block title_name %}
  <title>Location Marker</title>
  
{% endblock title_name %}

{% block import_source %}
<style>
  	.tag_label{
  		margin-left: 3px;
  		margin-right: 3px;
  		border-radius: 5px;
  	}
  </style>
{% endblock import_source %}

{% block body_block %}
	<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl62RoU1i9n0MzNAmw8fcKGTVPryxNJLM&callback=initMap">
    </script>
    <script type="text/javascript">

		var map;
		var markerList = [];
		var location_select_id = '{{form.location_marker.id_for_label}}'
		var previousTagInput = null;
		var selected_tag_list=[]
		function initMap() {
			
			var myLatLng = {lat: 24.7913341, lng: 120.994148};
			
			var mapOptions = {
				zoom: 16,
				center: myLatLng,
			};

			map = new google.maps.Map(document.getElementById('map'),mapOptions);

			{% for marker in marker_list %}
				addMarker(map, '{{marker.title}}', {lat: {{marker.latitude}}, lng: {{marker.longitude}} });
			{% endfor %}

			document.getElementById(location_select_id).onchange = function(){
				for ( i in markerList){
		  			if (markerList[i].title == this.options[this.selectedIndex].innerHTML)
		  				map.setCenter(markerList[i].getPosition())
		  		}
			}
		}

      	function addMarker(map, title, location){
	        var marker = new google.maps.Marker({
	        	position: location,
	          	map: map,
	          	label: title,
	          	title: title,
        	});

        	marker.addListener('click', function() {
          		selectLocation(marker)
        	});
        	markerList.push(marker);
      	}

    	function selectLocation(marker){
    		$('#'+location_select_id).children().each(function(){
			    if ($(this).text()== marker.title){
			        $(this).attr("selected", true);
			    }
			});
			map.setCenter(marker.getPosition())
      	}
      	function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
      	function getTagHint(element){
      		
      		if (element.value == previousTagInput)
      			return
      		else
      			previousTagInput = element.value

      		$.ajax({
      			url: '{% url "locationMarker:ajax_getTagHint" %}',
      			method: 'POST',
      			data:{
      				'word': element.value,
      				'csrfmiddlewaretoken': getCookie('csrftoken')
      			},
      			success : function(response){
      				str =''
      				str += 'Hot tags:'+addTagsChoice(response.hotTags)
      				str += 'Recent tags:'+addTagsChoice(response.recentTags)
      				if (response.similarTags){
      					str += 'Similar tags: '+ addTagsChoice(response.similarTags)
      				}
      				document.getElementById('id_tag_hint').innerHTML = str
      			},
      			error: function(response){
      				console.log(response)
      			}
      		});
      	}

      	function addTagsChoice(list){
      		str =''
      		for (i in list){
				str += '<button type ="button" class="tag_label btn btn-info btn-xs" onclick="addSelectedTags(this)">'+list[i][0]+'</button>'
			}
			return str+'<br>'
      	}

      	function deleteSelectedTags(tag){
      		index = selected_tag_list.indexOf(tag.getAttribute('value'))
      		if (index > -1){
      			selected_tag_list.splice(index, 1);
      			str =''
				for ( i in selected_tag_list){
					str += '<span class="tag_label btn btn-primary btn-xs" onclick="deleteSelectedTags(this)" onmouseover="addCross(this,true)" onmouseout="addCross(this,false)" value="'+selected_tag_list[i]+'">'+selected_tag_list[i]+'</span>'
				}
				$('#id_selected_tag').html(str)
			}
      	}

		function addSelectedTags(tag){
			if (selected_tag_list.length < 3){
				if (selected_tag_list.indexOf(tag.innerHTML) > -1)
					return
				selected_tag_list.push(tag.innerHTML)
				str =''
				for ( i in selected_tag_list){
					str += '<span class="tag_label btn btn-primary btn-xs" onclick="deleteSelectedTags(this)" onmouseover="addCross(this,true)" onmouseout="addCross(this,false)" value="'+selected_tag_list[i]+'">'+selected_tag_list[i]+'</span>'
				}
				$('#id_selected_tag').html(str)
			}
			else{
				showMsgModal('最多只能選3個標籤');
			}
			
		}

		function addCross(element, bool){
			if (bool){
				element.innerHTML = 'X '+element.innerHTML
				$(element).removeClass('btn-primary')
				$(element).addClass('btn-danger')
			}
			else{
				element.innerHTML = element.innerHTML.substring(1)
				$(element).removeClass('btn-danger')
				$(element).addClass('btn-primary')
			}
		}

      	window.onload = function(){
      		console.log('onload')
      		var tag_input = document.getElementById('id_tag_input');
      		window.setInterval(function() { getTagHint(tag_input) },1000)
      	}
    </script>
	<form action='' method='post'>
		{% csrf_token %}
		{{ form.as_p }}
		<br>
		<div id='map' style='width:400px; height:300px;' ></div>
		<button type='submit' class='.btn-success'>Submit</button>
	</form>

	<form action='' method='post'>
		<input type='text' id='id_tag_input'>
		<input type='submit' value='submit'>
		<div id="id_selected_tag"></div>
		<div id='id_tag_hint'></div>
	</form>

{% endblock body_block %}
